.numbers-of-follwers-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.followers-photo-avarta{
  display:flex;
  align-items: center;
  justify-content: center;
}

.totalFollowers{
  font-size: 1rem;
  margin-left: .1rem;
  font-weight: 600;
}

.following{
  font-size: .8rem;
  color:rgba(0,0,0,.7);
  padding-top: .5rem;
}