.homepage-wrapper{
  position :relative;
  overflow: auto;
  display: grid;
  width:100vw;
  height: 100vh;
  text-align: center;
  /*background-color:#fd683d ;*/
}

.home-page-header{
  position: static;
  color:#fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
  font-family: 'Nova Round', cursive;
  z-index: 10;
  
}

#with{
  color:#fd683d;
}

.box-wrapper{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.box-wrapper h3{
  color:#ffffff;
  font-family: 'Nova Round', cursive;
  padding: .5rem .6rem;
}

.family-box{
  background-color: #fdc006;
 margin: .2rem;
 /*transform: translatey(-15px);*/
}

.friends-box{
  background-color: #7d0b7f;
 margin: .2rem;
}

.clients-box{
  background-color: #aecf7e;
 margin: .2rem;
}

#and-box{
 margin: .2rem;
 color:#fff;
 background-color: #fd683d;

}

.btn-wrapper{
  margin-top: 5rem;
}

.top-conner-svg{
  position:absolute;
  top:-9rem;
  right:-6.6rem;
  width: 20em;
  height:5em;
  border:3px solid red;
  z-index: 1;
}