.chats-container{
  display: none;
}

.chats-container {
  position: sticky;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.search-chats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}

.search-chat-controller {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 15px;
}

.search-chats-container input {
  background-color: transparent;
  border: none;
  margin-left: 0.3rem;
}

.edit-chats-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.chats-options {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 1rem 1rem 0rem;
  width: 100%;
}

.chats {
  padding: 5rem 0.5rem 3rem 0.5rem;
  height: 100%;
  overflow: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.chats::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chats{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.chats a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.4rem;
}

.chat-user-info-container {
  display: flex;
  align-items: center;
}

.form-mark {
  margin: 0 -0.2rem;
}

.chat-message {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.chat-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .chats-options{
  position: static;
  left:0;
  bottom:0;
 
} */

.add-new-chats {
  position: relative;
}

.add-new-chats > div {
  margin-top: -2rem;
  background-color: #fd683d;
  border-radius: 50%;
  padding: 0.5rem;
}

@media (min-width:650px) {
  .chats-container{
    display: block;
  }
}